header {
    background-color: darkcyan;
}
nav ul li  {
    display: inline-block;
}

main {
    background-color: lightcyan
}

 main section {
  font-family: "Fantasy", Papyrus;
  font-size: 40px
}

main p {
    color: darkred;
    text-align: center;
}

footer{
    background-color: darkcyan;
}